[Desktop Entry]
Type=Application
X-Nemo-Application-Type=sdl2
Icon=$application_name$
Exec=$application_name$
Name=$application_name$
# translation example:
# your app name in German locale (de)
#
# Remember to comment out the following line, if you do not want to use
# a different app name in German locale (de).
Name[en]=$godot_game_template$
